<div>
  <h1>Home</h1>
</div>

<form (ngSubmit)="search()">
  <div class="form-group">
    <label for="search">Wikipedia Search</label>
  </div>
    <input type="text" class="form-control" id="search" name="wikiSearch" required [(ngModel)]='wikiSearch'>
    <button type="submit" class="btn btn-success">Search</button>
</form>


<div id='resultContainer'>
  <div *ngIf="results">
    <div *ngFor="let item of results">
      <h3>{{item.title}}</h3>
      <div id="{{item.pageid}}"> {{renderWikiHTML(item.snippet, item.pageid)}}</div>
    </div>
  </div>
</div>
